#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.card {
  width: 350px;
  height: 500px;
  background-color: #eee;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: black;
  border-radius: 8px;
  padding: 15px;
  margin: 20px;

  transition: all 1000ms;
}

.card:hover {
  background-color: #c9c8c8;
  width: 360px;
  height: 505px;
}

.card:hover .image01 {
  height: 305px;
  width: 305px;
}